body {
  background: #d8cfc6 url(images/bg.jpg) top center no-repeat !important;
}
.scroller {
  background: url(images/scroller.png) top center no-repeat !important;
  height: 250px;
  padding-top: 55px;
}
.home {
  padding-top: 40px;
}
